<ion-view view-title="Acerca de">
  <ion-content>
    <div class="list card">

	  <div class="item item-avatar">
	    <img src="./img/iztacala-128.png">
	    <h2>Licenciatura de Enfermería</h2>
	    <p>FES Iztacala, UNAM</p>
	    <p>Versión {{appVersion}}</p>
	  </div>
	
	  <div class="item item-text-wrap">
	    <p>Manual interactivo de Enfermería Hospitalaria impartida en la FES Iztacala de la UNAM.</p>
		<p>Aplicación desarrollada con el apoyo de la Coordinación de Educación a Distancia.</p>
	  </div>
	  <div class="item item-text-wrap">
	  	<p>Carrera de la licenciatura de Enfermería, Facultad de Estudios Superiores Iztacala, Universidad Nacional Autónoma de México
	  </div>
	
	</div>
  </ion-content>
</ion-view>
