<ion-view view-title="Unidad I">
  <ion-content>
	<h1>Presentación</h1>
	<p>Esta unidad brinda al estudiante, elementos para que realice intervenciones de enfermería con enfoque holístico, a la persona en el entorno hospitalario, desde el ingreso hasta su egreso, utilizando técnicas de comunicación, terapéuticas, asistenciales y administrativas.</p>
	Objetivos
	<p>Analizar la importancia del cuidado holístico en la atención del paciente hospitalizado.</p>
	Temas de la Unidad
	<ol>
		<li>1. Cuidados de enfermería desde el punto de vista holístico</li>
		<li>2. Percepciones y conceptualizaciones propias del continuo salud desde el punto de vista de la persona</li>
		<li>3. Factores que afectan la salud</li>
		<li>4. Respuesta de la persona ante la enfermedad</li>
		<li>5. Entorno de la persona hospitalizada</li>
		<li>6. Entorno físico</li>
		<li>7. Ingreso y egreso hospitalario</li>
		<li>8. Intervenciones de enfermería en la fase final y proceso de muerte</li>
		<li>9. Evaluación</li>
	</ol>
	
	<h2>1. Cuidados de enfermería desde el punto de vista holístico</h2>
	<p>Los términos profesión, ciencia y Holismo son más recientes en la historia de la enfermería y en ocasiones de escaso dominio por algunas de las enfermeras.</p>
	<p>La palabra holístico proviene de las raíces griegas olos que significa todo, es la filosofía de la totalidad o integralidad. Fue introducida por primera vez por el mariscal de campo sudafricano Jan Chistian Smuts en el libro “Holismo y Evolución” 1926, donde interpreta en un sentido idealista la irreductibilidad del todo a la suma de sus partes, atribuyéndole al factor de totalidad, principios no materiales e incognoscibles con carácter místico. Esta integridad ha llevado a introducir el término holístico que según la Sociedad de Medicina Holística de EE.UU. lo conceptualiza como una forma de diagnosticar, tratar y prevenir las enfermedades desde un punto de vista integral lo que implica tratar también al medio ambiente que la circunscribe.</p>
	 
	 Concepto de holística
	 Cuidado holístico de enfermería
	
	<h2>2. Percepciones y conceptualizaciones propias del continuo salud desde el punto de vista de la persona</h2>
	
	 
	Consulta:
	 PERCEPCIONES Y CONCEPTUALIZACIONES 
	 CUIDADO HOLÍSTICO
	
	<h2>3. Factores que afectan la salud</h2>
	Nuestra vida se encuentra constantemente bajo la influencia de riesgos y circunstancias que pueden poner en peligro nuestro estado de bienestar general. Entre estos factores se encuentran las condiciones genéticas hereditarias, el ambiente bioecológico y psicosocial, donde se encuentran inmersos los individuos, así como el cuidado diario para la salud que posee la persona y los estilos de vida o hábito.
	 
	Ahora te invitamos a consultar los siguientes archivos para profundizar el tema:
	 Factores que afectan la salud
	
	<p>La enfermedad ocasiona cambios tanto en las personas afectadas como en sus familias. Estos cambios varían dependiendo de la naturaleza, la gravedad y la duración de la enfermedad, de las actitudes del paciente y de los demás en relación con la enfermedad, de las exigencias económicas, así como de los cambios en el estilo de vida que provoca y de los ajus¬tes en los roles habituales. Las personas enfermas pueden experimentar cambios conductuales y emocionales, cambios en su autoconcepto y en la imagen corporal y cambios en su estilo de vida.</p>
	 
	<h2>5. Entorno de la persona hospitalizada</h2>
	<p>En la hospitalización hay un cambio de entorno que exige una adaptación. Un sobreesfuerzo por parte de la persona que ingresa, ya que no sólo debe desear su curación sino que debe adaptarse a un entorno diferente al de su cotidianeidad y con normas nuevas, donde prima la generalidad sobre la individualidad. Así, el sujeto vive el ingreso hospitalario como una situación de estrés, ansiedad y vulnerabilidad. Es por ello que se debe entender por lo que están pasando los pacientes al cambiar su entorno y tratar de que sea lo menos ajeno posible para facilitar su estancia y recuperación.</p>
	<p>A continuación se presentan algunas de las atenciones que debe tener la enfermera entorno al paciente:</p>
	 
	<h2>6. Entorno físico</h2>
	<p>Un hospital es una institución donde trabajan médicos y enfermeros, además de administrativos, personal técnico entre otros, ofreciendo una gran variedad de servicios. Sus funciones principales son la medicina preventiva y social, además del diagnóstico y tratamiento de enfermedades. De este modo, el entorno físico es el lugar donde las personas pueden desenvolverse sin sufrir daño alguno, teniendo una sensación de seguridad.</p>
	Prezi
	Consulta:
	 Entorno físico
	
	<h2>7. Ingreso y egreso hospitalario</h2>
	El ingreso a un centro de asistencia sanitaria es una experiencia que produce tensión en los pacientes ya que suelen sentirse incómodos y ansiosos, es por ello, que el primer contacto resulta fundamental, por lo que es de suma importancia que el personal de admisión y el sanitario muestre amabilidad, interés y competencia en sus actuaciones para brindar confianza y seguridad, para que al egresar de la institución, el paciente salga entusiasmado y tranquilo.
	Prezi
	
	Consulta:
	 Ingreso y egreso
	<h2>8. Intervenciones de enfermería en la fase final y proceso de muerte</h2>
	<p>Las personas somos seres físicos y psicosociales. Por consiguiente, si pretendemos tratar con una trayectoria de muerte, debemos incluir no sólo una descripción de la muerte del cuerpo físico, sino también de la muerte de la persona.</p>
	 Consulta: Proceso de muerte
	 Actitudes psicológicas ante la muerte
	Fase final
	 CUIDADO HOLÍSTICO DE LA ENFERMERÍA
	 
	Cuidados post-mortem
	<p>Una vez que el paciente ha fallecido la enfermera procede a realizar los cuidados post mortem los cuales son  el conjunto de acciones que se proporcionan al cuerpo una vez que han cesado sus funciones vitales.</p>
	 
	El procedimiento consiste en:
	
	Prezi
	<h2>9. Evaluación</h2>
	<p>Para reafirmar la información que revisaste, imprime la siguiente autoevaluación acerca de la secuencia que se debe seguir durante el tratamiento post-mortem, indica cuál es el orden correcto y al final compara si tus respuestas fueron correctas.</p>
	 
	Consultar respuestas
	
	Actividades
	Objetivo:
	 Analizar la importancia del cuidado holístico en la atención del paciente hospitalizado
	 CONCEPTOS CENTRALES
	 
	<h2>Cuestiones que debes saber de esta unidad</h2>
	<ol>
		<li>1. ¿Qué es el cuidado holístico?</li>
		<li>2. ¿Cuáles son los factores que afectan la salud y como interfieren?</li>
		<li>3. ¿Cuál es el rol y la respuesta de la persona hospitalizada y como se interrelacionan con el cuidado holístico?</li>
		<li>4. ¿Cómo interfiere el entorno hospitalario en el cuidado holístico?</li>
		<li>5. ¿Cuáles son los tipos de ingreso y egreso?</li>
		<li>6. ¿Cuáles son las intervenciones técnicas,  docentes y  administrativas que realiza la enfermera durante el ingreso y egreso?</li>
		<li>7. ¿Cuáles son las normas oficiales mexicanas que se aplican en estas intervenciones?</li>
		<li>8. ¿Qué es el proceso de muerte y cuáles son las intervenciones de enfermería para brindar cuidado holístico?</li>
	</ol>
  </ion-content>
</ion-view>
