<ion-view view-title="Contenido">
  <ion-content>
  	<div class="card">
	  <a class="item item-thumbnail-left item-text-wrap" href="#/app/chapter/1">
	  	<img src="./img/content/content_1.png">
	  	<h2>Unidad 1</h2>
	  	<p>Cuidado holístico de enfermería a la persona en el ámbito hospitalario</p>
	  </a>
	 </div>
	 <div class="card">
	  <a class="item item-thumbnail-left item-text-wrap" href="#">
	  	<img src="./img/content/content_2.png">
		  <h2>Unidad 2</h2>
		  <p>Intervenciones de enfermería en los procesos de sanitización, desinfección y esterilización para el control de los factores de riesgo en el entorno hospitalario</p>
		</a>
	  </div>
	  <div class="card">
		<a class="item item-thumbnail-left item-text-wrap" href="#">
			<img src="./img/content/content_3.png">
			<h2>Unidad 3</h2>
			<p>Intervenciones de enfermería en la aplicación de diversas medidas terapéuticas en la persona hospitalizada</p>
		</a>
	   </div>
	   <div class="card">
		<a class="item item-thumbnail-left item-text-wrap" href="#">
			<img src="./img/content/content_4.png">
			<h2>Unidad 4</h2>
			<p>El cuidado de enfermería para la satisfacción de las necesidades de la persona hospitalizada</p>
		</a>
	  </div>
	  <div class="card">
		<a class="item item-thumbnail-left item-text-wrap" href="#"> 
			<img src="./img/content/content_5.png">
			<h2>Unidad 5</h2>
			<p>El proceso de enfermería con base al modelo de Virginia Henderson</p>
		</a>
  	</div>
  </ion-content>
</ion-view>
