<ion-view view-title="Directorío">
  <ion-content>
	<div class="card">
	  <div class="item">
	    <h2 class="title">Facultad de Estudios Superiores Iztacala</h2>
	    <p>Universidad Nacional Autónoma de México</p>
	  </div>
	  <div class="item item-text-wrap">
		<ul class="list">
			<li class="item"><strong>Dra. Patricia Dolores Dávila Aranda</strong>
				<div>Directora</div></li>
			<li class="item"><strong>Dr. Ignacio Peñalosa Castro</strong>
				<div>Secretario General Académico</div></li>
			<li class="item"><strong>C.D. Rubén Muñiz Arzate</strong>
				<div>Secretario de Desarrollo y Relaciones Institucionales</div></li>
			<li class="item"><strong>Dr. Raymundo Montoya Ayala</strong>
				<div>Secretario de Planeación y Cuerpos Colegiados</div></li>
			<li class="item"><strong>C.P. Reyna Isabel Ferrer Trujillo</strong>
				<div>Secretario Administrativo</div></li>
			<li class="item"><strong>Dr. Juan Manuel Mancilla Díaz</strong>
				<div>Jefe de la División de Investigación y Posgrado</div></li>
			<li class="item"><strong>C.P. Adriana Arreola Jesús</strong>
				<div>Jefa de la División de Extensión</div></li>
			<li class="item"><strong>Mtra. Margarita Acevedo Peña</strong>
				<div>Jefa de la Carrera de Enfermería</div></li>
		</ul>
	  </div>
	</div>
  </ion-content>
</ion-view>